<%= render 'menu' %>

<div class="centered">

	<div class="row">
		<div class="index-dropdown">
			<% if @cat_value != nil  %>
				<%= select("name", "id", @categories, :selected => @cat_value, :include_blank => 'Show All') %>
			<% else %>
				<%= select("name", "id", @categories, :include_blank => 'Show All') %>
			<% end %>
		</div>

	  <% @products.each do |product| %>
	    <div class="col-lg-4 col-sm-6 col-xs-12 custom-border">
	        <a href="<%= product_path(product) %>">
	             <img src="<%=product.image %>" class="thumbnail img-responsive">
	        </a>
					<div class="col-md-12">
	 					<h3><%=product.name %></h3>
						<h4>$ <%=product.price %></h4>
					</div>
	    </div>
	    <% end %>

	</div>
	<div class="container">
  <ul class="pagination">

		<% if @pagintated != nil  %>
			<% @count = (@pagintated / 1)%>
			<% (1..@count).each do |i| %>
				<li><a href="<% request.original_url %>/?page=<%= i %>" ><%= i %></a></li>
				<% @i = i%>
			<% end %>
			<% if @pagintated % 1 != 0 && @pagintated != nil %>
			<li><a href="<% request.original_url %>/?page=<%= @i + 1 %>" ><%= @i + 1 %></a></li>
			<% end %>
		<% else %>

		<% end %>

  </ul>
</div>
</div>


<script>
  $("select").change(function(){

		var dropdown = document.getElementById("name_id");
		var selectedText = dropdown.options[dropdown.selectedIndex].text;

		window.location.href = "<% request.original_url %>" + "/?category=" + selectedText;

  });
</script>
