<%= render 'menu' %>


<p id="notice"><%= notice %></p>

<div class="col-lg-4 col-sm-6 col-xs-12 custom-border" style="margin-right: 20px;">
  <img src="<%=@product.image %>" class="thumbnail img-responsive">
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @product.stock_quantity %>
</p>

<p>
  <button type="button" class="btn btn-success">Add to Cart</button>
</p>
