<%= render 'menu' %>


<p id="notice"><%= notice %></p>

<div class="col-lg-4 col-sm-6 col-xs-12 custom-border" style="margin-right: 20px;">
  <img src="<%=@product.image %>" class="thumbnail img-responsive">
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @product.stock_quantity %>
</p>

<p>
  <%= form_tag("/line_items", :controller => :line_items, remote: true,  method: "post") do %>
    <div class="input-group">
      <%= hidden_field_tag :tab , "line_item" %>
      <div style="display: inline-block;">
        <%= number_field(:line_item, :quantity, in: 1.0..20.0, value: 1, min: 0, step: 1) %>
      </div>
      <div style="display: inline-block;">
        <%= hidden_field_tag "line_item[product_id]", @product.id %>
        <%= submit_tag("Add to Cart") %>
      </div>
    </div>
  <% end %>
</p>
